<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM6wR8r0bBJ5oMl_CKugtLc-pFcc-VePk</string>
	<key>GCM_SENDER_ID</key>
	<string>241076890596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csen268F24G6</string>
	<key>PROJECT_ID</key>
	<string>csen-f24-g6</string>
	<key>STORAGE_BUCKET</key>
	<string>csen-f24-g6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241076890596:ios:eb2acf6898d5fa881f75f1</string>
</dict>
</plist>